<div class="jumbotron">
	<div class="container">

		<!--
	<div class="row">
		<div class="col-md8 col-md-offset-2">
			<h1>快钱产品经理之家</h1>
			<p>创新产品从Brain-Storm开始!！</p>
		</div>
	</div>
	-->	

<h1>登 陆</h1>

<%= form_tag sessions_path, :class =>'form-inline' do %>
    
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">@</div>
					<%= text_field :email, params[:email],class:'form-control',placeholder:'Enter email',type:'email' %>
		</div>
	</div>		


    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password">
	</div>


	<button type="submit" class="btn btn-default" name="commit">登 陆</button>

<% end %>


	</div>
</div>